@font-face{
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Bold.ttf);
    font-weight: bold;
}
@font-face{
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-BoldItalic.ttf);
    font-weight: 600;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Italic.ttf);
    font-weight: bold;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: bold;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
    font-weight: 500;
}
@font-face{
    font-family: 'Raleway';
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Raleway';
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 100;
}
@font-face{
    font-family: 'Raleway';
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 900;
}
@font-face{
    font-family: 'Raleway';
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
    font-weight: bold;
}
